@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600;700&family=Space+Mono&display=swap");
:root {
  font-size: 62.5%;
}
* {
  margin: 0;
}

.flex {
  display: flex;
}

.task-heading {
  font-size: 1.5rem;
  margin: 2rem 8rem;
}

.container {
  gap: 30px;
  margin: 4rem;
  justify-content: space-evenly;
  flex-flow: row wrap;
  font-family: "Roboto", sans-serif;
}

.card {
  max-width: 350px;
  border: 1px solid #f7f7f7;
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.header img {
  width: 100%;
}

.card-content {
  flex-direction: column;
}

.card-content:hover {
  background-color: #f8f8f8;
}

.author-details {
  padding: 1.6rem;
  font-weight: 500;
  font-size: 2rem;
}

.author-details :nth-child(2) {
  font-size: 1.3rem;
  color: rgba(0, 0, 0, 0.54);
}

.content {
  padding: 0 0.8rem 1.6rem 1.6rem;
  font-size: 1.4rem;
  color: rgba(0, 0, 0, 0.54);
}

.card-basic-w-h .content {
  padding: 1.6rem 1.6rem;
}

.footer {
  justify-content: space-between;
  padding: 1rem 1.5rem;
  align-items: center;
}

.footer button {
  color: #6200ee;
  font-size: 1.5rem;
  border: none;
  background-color: transparent;
  text-transform: uppercase;
  font-weight: 600;
  padding: 0.5rem;
  cursor: pointer;
}

.footer button:hover {
  background-color: #f8f8f8;
}

.footer .button-icon {
  width: 50%;
  justify-content: space-around;
  align-items: center;
}

.footer .button-icon button {
  color: rgba(0, 0, 0, 0.6);
  height: 30px;
  width: 30px;
  border-radius: 50%;
  font-weight: normal;
}

.card-basic-w-o-b .footer .button-icon {
  visibility: hidden;
}

.card-basic-w-o-i .footer .button-text {
  visibility: hidden;
}

.header-standard {
  display: flex;
  background-color: #6200ee;
  color: white;
  padding: 2rem;
  font-size: 2rem;
}

.header-standard button {
  border: none;
  background-color: transparent;
  color: white;
  font-size: 1.8rem;
  cursor: pointer;
}

.header-standard .align-start span {
  margin-left: 1.5rem;
}

.header-standard .align-end {
  margin-left: auto;
  display: flex;
  min-width: 200px;
  justify-content: space-around;
}

.badges-main button {
  border: none;
}

.position-relative {
  position: relative;
  display: inline-block;
}

.badge {
  height: 2.5rem;
  width: 2.5rem;
  color: white;
  background-color: tomato;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}

.b-w-b-l button {
  border: none;
  background-color: blue;
  font-size: 1.5rem;
  color: white;
  border-radius: 0.5rem;
  padding: 1rem;
}

.b-w-b-l .badge {
  top: -15px;
  left: -10px;
}

.i-w-b-r button {
  font-size: 2.5rem;
  border: none;
  background: transparent;
}

.i-w-b-r .badge {
  right: -10px;
  bottom: -5px;
}

.t-w-b-r p {
  font-size: 2rem;
  font-weight: 500;
}

.t-w-b-r .badge {
  right: -25px;
  bottom: 20px;
}

.chip {
  border-radius: 2.5rem;
  font-size: 1.2rem;
  padding: 0.5rem 0.8rem;
  display: inline-block;
  font-weight: 600;
}

.chip .icon {
  margin-right: 0.5rem;
}

.chip .button {
  margin-left: 0.5rem;
  color: black;
  cursor: pointer;
}

.chip button {
  border: none;
  background: transparent;
}

.normal {
  background-color: #94a3b8;
  color: white;
}

.primary {
  color: white;
  background-color: blue;
}

.warn {
  color: white;
  background-color: tomato;
}

.chip-js {
  background-color: #ca8a04;
  color: white;
}

.chip-html {
  background-color: hsla(11, 100%, 52.2%, 1);
  color: white;
}

.chip-css {
  background-color: #3333ed;
  color: white;
}

.chip-node {
  background-color: #11a111;
  color: white;
}

.snackbar {
  background-color: #333;
  font-size: 1.4rem;
  color: white;
  padding: 1.5rem;
  box-shadow: 0.2rem 0.2rem 0.5rem #94a3b8;
  justify-content: space-between;
  align-items: center;
  border-radius: 0.5rem;
  flex-wrap: wrap;
}

.snackbar-label {
  margin-right: 2rem;
}

.snackbar-action {
  min-width: 100px;
  justify-content: space-between;
}

.snackbar .snackbar-action button {
  border: none;
  background: transparent;
  cursor: pointer;
}

.snackbar .snackbar-action .snackbar-action-button {
  text-transform: uppercase;
  color: hotpink;
}

.snackbar .snackbar-action .snackbar-action-icon {
  color: white;
}

.dialog {
  max-height: 360px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 0.4rem;
  padding: 2rem;
}

.dialog-alert {
  min-width: 250px;
  max-width: 250px;
}

.dialog-simple {
  min-width: 200px;
  max-width: 200px;
}

.dialog-header {
  padding: 0.5rem;
}

.dialog-content {
  padding: 0.5rem;
  font-size: 1.5rem;
  color: #94a3b8;
  margin-bottom: auto;
}

.dialog-content ul {
  padding: 0;
}

.dialog-content li:hover {
  background-color: #f8f8f8;
}

.dialog-content .d-s-content {
  gap: 1.5rem;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 0.5rem;
  cursor: pointer;
}
.dialog-content .d-s-content p {
  font-size: 1.5rem;
  color: black;
}

.dialog-content .d-s-content .avtar-d-s {
  font-size: 4rem;
}

.dialog-footer {
  justify-content: flex-end;
  align-items: center;
  margin-top: 2rem;
}

.dialog-footer button {
  border: none;
  background: transparent;
  color: rgb(206, 23, 243);
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: 600;
}

.drawer {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 0.4rem;
  padding: 1rem;
  width: 20rem;
}

.drawer-title {
  font-size: 2rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.drawer-subtitle {
  font-size: 1.2rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.drawer-content {
  flex-direction: column;
  margin-top: 1.2rem;
  font-size: 1.5rem;
  gap: 1.5rem;
  justify-content: flex-start;
}

.drawer-content a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.87);
  padding: 1rem;
}

.drawer-content a.drawer-link-active {
  color: rgba(98, 0, 238, 0.87);
  background-color: rgb(233 222 249 / 87%);
}

.drawer-content a:hover {
  background-color: rgb(233 222 249 / 87%);
}

.drawer-content i {
  margin-right: 2rem;
}
